.root {
    display: flex;
}

.details {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.transition {
    transition: 100s linear;
}

.zeroWidth {
    width: 0;
}

.cover {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
}